body{
  margin: 0;
  margin-bottom: 1000px;
  padding-top: 78px;
  padding-left: 96px;
  padding-right: 24px;
  background-color: rgb(252, 250, 250);
  font-family: Roboto, arial;
  transition: padding-left 1s;
}

p {
  margin-top: 0;
}
